<h1>Add a new Critter</h1>

<form action= "/prehistoric-creatures" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" name="type" id="creatureType">

    <label for="creatureName">Image</label>
    <input type="text" name="img_url" id="creatureName">

    <input type="submit">
</form>
   